{% extends 'base.html' %} {% block content %}

<section class="section has-background-light">
  <p class="subtitle">Combine data:</p>
  <form action="{% url 'home' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="field">
      <label class="label">Upload Files</label>
      <div class="control">{{form.file_field}}</div>
      <p class="help">Select all the files you wish to combine and upload</p>
    </div>

    <div class="field">
      <label class="label">Apply Overrides</label>
      <div class="control">{{form.overrides}}</div>
      <p class="help">
        Define overrides as a JSON object. For more info see
        <a href="/about">the about section</a>
      </p>
    </div>

    <div class="control">
      <button class="button is-primary" type="submit">Upload & Process</button>
    </div>
  </form>
</section>

{% if processing %}
<section class="section">
  <p class="subtitle">Processing files...</p>
  <progress class="progress is-info" max="100">Processing</progress>
</section>
{% endif %} {% if export_result %}
<section class="section">
  <p class="subtitle">Download Result CSV:</p>
  <a class="button is-link" href="{{ export_result }}">Download</a>
</section>
{% endif %} {% endblock content %}
